@import "tailwindcss";

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
	@apply bg-white dark:bg-neutral-900;

	background-image: radial-gradient(circle, rgba(107, 114, 128, 0.5) 1px, transparent 1px);
	background-size: 30px 30px;
	background-position: 0 0;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
	scroll-behavior: smooth;
}
